.home{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .container{
        width: 100%;
        height: 100%;
        .left{
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            gap: 1rem;
            .room{
                display: flex;
                width: 100%;
                justify-content: space-between;
                height: 10%;
                border-radius: 4px;
                padding: 1rem 1rem 1rem 1rem;
                align-items: center;
                button{
                    cursor: pointer;
                }
                background-color: rgb(179, 179, 215);
            }
        }
    }
}


.chat-room{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    background-color: lightblue;
    align-items: center;
    .container{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        align-items: center;
        padding: 1rem 2rem 1rem 2rem;
        background-color: whitesmoke;
        .messages{
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: .5rem;
            .text{
                display: flex;
                flex-direction: column;
                background-color: rgb(189, 117, 117);
                border-radius: 5px;
                padding-left: .4rem;
                .sender{
                    display: flex;
                    border-bottom: 1px solid black;
                }
                .msg{
                    p{
                        margin: 0;
                        font-size: 1.2rem;
                        word-break: normal;
                    }
                }
            }
        }
    }
}
